---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";

const { title = "" }: { title?: string } = Astro.props;
---
<section>
  <div class="container text-center">   
    <h1 class="text-2xl font-bold md:text-3xl" set:text={humanize(title)} />
      <Breadcrumbs className="mb-2 text-sm" />   
  </div>
</section>