---
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

const homepage = await getListPage("homepage", "-index");

const { Content } = await render(homepage);
---

<Base>

  <!-- Homepage Content -->
  <section class="section">
    <div class="container">
      <Content />
    </div>
  </section>
  <!-- /Homepage Content -->
</Base>
